BorderPane{
    -fx-background-color: "#0f3c4c";
    -fx-padding: 0 0 15 0;
}

#header {
    -fx-background-color: white;
    -fx-padding: 5 5 5 5;
}

#centre {
    -fx-padding: 15 15 15 15;
}

#carte, #Map {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

#camembert {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

#vBoxMoyenne {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

#moyenne {
    -fx-font-size: 60px;
}

#filtrer {
    -fx-background-color: white;
    -fx-start-margin: 15;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 15;
}

#filtrerLabel {
    -fx-font-size: 25px;
}

#seismes {
    -fx-font-size: 25px;
}

#diagrammePoint {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

bas {
    -fx-padding: 15 15 15 15;
}

Button {
    -fx-background-color: "#0f3c4c";
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

TextField, #regions {
    -fx-border-style: solid;
}

Label{
    -fx-font-size: 15px;
}